<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/styles/style.css"
    />
  </head>
  <body>
    <div class="navbar">
      <a href="#home">Home</a>
      <a href="#Projects">Projects</a>
      <a href="#contact">Contact</a>
    </div>
    <article class="viewer">
      <section class="slide">
        <h3>Hell World</h3>
        <p>Hello scroll-snap-type</p>
      </section>
      <section class="slide">
        <h2>Description</h2>
        <p>
          The scroll-snap-type CSS property sets how strictly snap points are
          enforced on the scroll container in case there is one.
        </p>
      </section>
      <section class="slide">
        <h2>Syntax</h2>
        <p>
          <code
            >scroll-snap-type: none | [x|y|block|inline|both]
            [mandatory|proximity]</code
          >
        </p>
      </section>
      <section class="slide">
        <h2>Browser compatibility</h2>
        <p>It's OK with the latest version of browser.</p>
      </section>
    </article>
  </body>
</html>
