<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.scss') }}"
    />
    <script src="{{url_for('static', filename='js/snap.js') }}"></script>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <section>
      <h1>Section One</h1>
    </section>
    <section>
      <h1>Section Two</h1>
    </section>
    <section>
      <h1>Section Three</h1>
    </section>
    <section>
      <h1>Section Four</h1>
    </section>
    <section>
      <h1>Section Five</h1>
    </section>
  </body>
</html>
